body {
    background-image: url(../img/imagen-fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
   

}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 100px;
    border-radius: 20px;
    animation: palpitar 1.5s infinite;
}


footer {
    border-radius: 20px;
    text-align: center;
    color: #130f10;

    background: linear-gradient(
        270deg,
        #dd7ea2,
        #f0db69,
        #ff9671,
        #dd7ea2
    );

    background-size: 400% 400%;

    animation: fondoMovil 6s ease infinite;
}




.flash-sale{
    width: 100%;
    height: 200px;
    
    background: linear-gradient(135deg, #dd7ea2, #f0db69);
    
    border-radius: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;


    box-shadow: 0 5px 15px rgba(34, 28, 28, 0.2);
    animation: palpitar 1.5s infinite;

}
@keyframes palpitar{

    0%{
        box-shadow: 0 0 5px #ff4f81;
    }

    50%{
        box-shadow:
        0 0 20px #ff4f81,
        0 0 40px #ff4f81,
        0 0 60px #ff4f81;
    }

    100%{
        box-shadow: 0 0 5px #ff4f81;
    }

}



.flash-sale h2 {
    font-size: 2rem;
    margin: 5px;
    color: #ecd9df;
}

.flash-sale p {
    font-size: 1rem;
    margin: 5px;
}

.contador {
    font-size: 1.5rem;
    background: rgba(255,255,255,0.7);
    padding: 12px 25px;
    border-radius: 15px;
    color: #ff4f81;
}


.flash-sale button {
    padding: 12px 25px;
    border: none;
    border-radius: 30px;

    background: linear-gradient(135deg, #ff6f91, #ff9671);
    color: white;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    box-shadow: 0 5px 15px rgba(255, 111, 145, 0.4);

    transition: all 0.3s ease;
}
.flash-sale button:hover {
    transform: translateY(-5px) scale(1.05);

    background: linear-gradient(135deg, #e7450a, #ffc75f);

    box-shadow: 0 8px 20px rgba(184, 56, 9, 0.5);
}


.libros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 10px;
    background-color: #dd7ea2;
    border-radius: 10px;
    align-items: center;
    text-align: center;

}


.imgLibro {
    width: 100px;
}


.flash-sale{
    background: linear-gradient(
        270deg,
        #dd7ea2,
        #f0db69,
        #ff9671,
        #dd7ea2
    );

    background-size: 400% 400%;

    animation: fondoMovil 6s ease infinite;
}

@keyframes fondoMovil{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}



@property --horas {
    syntax: "<integer>";
    inherits: false;
    initial-value: 2;
}

@property --minutos {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
}

@property --segundos {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
}

.countdown {
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
}

.horas,
.minutos,
.segundos {
    display: inline-block;
}

.horas {
    counter-reset: h var(--horas);
    animation: horas 7260s linear infinite;
    animation-delay: 1s;
}

.horas::after {
    content: counter(h);
}

.minutos {
    counter-reset: m var(--minutos);
    animation: minutos 3600s steps(60) infinite;
}

.minutos::after {
    content: counter(m, decimal-leading-zero);
}

.segundos {
    counter-reset: s var(--segundos);
    animation: segundos 60s steps(60) infinite;
}

.segundos::after {
    content: counter(s, decimal-leading-zero);
}

@keyframes segundos {
    from { --segundos: 59; }
    to { --segundos: 0; }
}

@keyframes minutos {
    from { --minutos: 59; }
    to { --minutos: 0; }
}

@keyframes horas {
    to { --horas: 0; }
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.countdown a {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.button{
    padding: 15px;
    background-color: tomato;
    animation: latido2 1s infinite;
    cursor: pointer;
}
