.dashboard{
    padding: 40px;
    text-align: center;
}

.dashboard h2{
    color: #5e1b2f;
    margin-bottom: 30px;
}

.dashboard-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.metrica{
    background: #f5e8ed;

    padding: 25px;

    border-radius: 20px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

    transition: 0.3s;
}

.metrica:hover{
    transform: translateY(-8px);
}

.numero{
    font-size: 2rem;
    font-weight: bold;
    color: #7d2e55;
}





.numero{
    animation: palpitar 2s infinite;
}

@keyframes palpitar{

    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }

}

@media (max-width: 768px){

    .dashboard-grid{
        grid-template-columns: 1fr;
    }

}